<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">New Event</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="/add-event/" method="POST">
        
        <div class="form-row">
          <label for="title">Tell me the title of your event</label>
          <input type="text" name="title" class="form-control" id="title" placeholder="Title">
        </div>

        <div class="form-row">
          <label for="meet">Where will it be?</label>
          <input type="text" name="meet" class="form-control" id="meet" placeholder="Put the address here">
        </div>

        {{if .City}} 
        <div class="dropdown">
          <select id = "city">
            {{range $key, $value := .City}}
             <option value = "{{$value.IdCitta}}">{{$value.NomeCitta}}</option>
            {{end}}
           </select>            
        </div>
        {{end}}

        <!-- TODO: add a checkbox to tell if the event will begin and end the same day -->
        
        <div class="form-row">
          
          <div class="form-group col-md-6">
            <label for="dataIni">When will the event begin?</label>
            <input type="date" name="dataIni" id="dataIni" class="form-control">
          </div>

          <div class="form-group col-md-6">
            <label for="dataFine">End date</label>
            <input type="date" name="dataFine" id="dataFine" class="form-control">
          </div>
        
        </div>
        
        <div class="form-row">

        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
        </div>
        
        {{if .Category}} 
        <div class="dropdown">
          <select id = "category">
            {{range $key, $value := .Category}}
             <option value = "{{$value.IdCat}}">{{$value.NomeCitta}}</option>
            {{end}}
           </select>            
        </div>
        {{end}}
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Itinerary</label>
          <textarea class="form-control" name="itiner" id="itiner" rows="3"></textarea>
        </div>
  
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="minP">Min partecipanti</label>
            <input type="number" min="1" max="99" name="minP" class="form-control" id="minP" placeholder="minP">
          </div>


          <div class="form-group col-md-6">
            <label for="maxP">Max partecipanti</label>
            <input type="number" min="1" max="99" name="maxP" class="form-control" id="maxP" placeholder="maxP">
          </div>
        </div>

        <div class="form-group">
          <label for="cost">Price €</label>
          <input type="text" name="cost" class="form-control" id="cost" placeholder="0€">
        </div>

        

        <div class="loginModal">
          <label for="expDate">How many days before the event must be the booking closed?</label>
          <input type="date" name="expDate" id="expDate" class="form-control">
        </div>

        

        <div class="modal-footer">
          <input type="submit" value="add-event" class="btn btn-outline-primary"/>
        </div>
      </form>
    </div>
    
  </div>
</div>
