{{template "_navbar.html" .}}

<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://w.wallhaven.cc/full/k9/wallhaven-k9qwkd.jpg" class="d-block w-100" alt="Explore">
          <div class="carousel-caption d-none d-md-block">
              <h5>Some Writes</h5>
              <p>...</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://w.wallhaven.cc/full/zx/wallhaven-zxemoo.jpg" class="d-block w-100" alt="Learn">
          <div class="carousel-caption d-none d-md-block">
              <h5>Some Writes</h5>
              <p>...</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="https://w.wallhaven.cc/full/gj/wallhaven-gjmv3e.jpg" class="d-block w-100" alt="Guide">
          <div class="carousel-caption d-none d-md-block">
              <h5>Some Writes</h5>
              <p>...</p>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>

<div class="container center-block mt-3">
  <div class="row">
    <div class="card col-lg">
        <h1>Cicerone</h1>
        <p>This is the main screen where we must put some descriptions of the app!</p>
    </div>
  </div>
</div>


{{template "_footer.html" .}}