<!DOCTYPE html>
<html lang="en">

<head>
    {{template "_bootstrap.html"}}
</head>

<body>
    {{template "_navbar.html"}}

    <div class="container">
        <div class="note">
            <p class="noteHeading ">Login </p>
            <div class="form-group">
                <form action="/login/" method="POST">
                    <input type="text" name="username" class="loginbutton" placeholder="Username" />
                    <input type="password" name="password" class="loginbutton" placeholder="Password" />
                    <input type="submit" value="Login" class="btn btn-primary" />
                </form>
            </div>
        </div>

        <div class="note">
            <p class="noteHeading ">Sign up </p>
            <div class="form-group">
                <form action="/signup/" method="POST">
                    <input type="text" name="name" class="loginbutton" placeholder="Name" />
                    <input type="text" name="surname" calss="loginbutton" placeholder="Surname" />
                    <input type="text" name="username" class="loginbutton" placeholder="Username" />
                    <select id="gender" onchange="printValue(this.value)">
                            <option value="default">-
                            <option value="man">Man
                            <option value="woman">Woman
                            <option value="other">Other
                    </select>
                    <input type="date" name="birthdate" class="loginbutton" /><br><br>
                    <input type="email" name="email" class="loginbutton" placeholder="example@example.com" />
                    <input type="password" name="password" class="loginbutton" placeholder="Password" />
                    <input type="submit" value="Signup" class="btn btn-primary" />

                </form>
            </div>
        </div>
    </div>

    {{template "_footer.html"}}

    <!--Bootstrap Js code, must stay at the end in order to keep the site fast!-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
